.question {
    font-weight:bold;
    margin-top: 10%;
    text-align: center;
    font-size: 50px;
    color: black;
}

.answers {
    text-align: center;
    color: white;
    font-size: 30px;
}

.answer {
    border-radius: 100%;
    background-color: white;
    margin: 3%;
    margin-top: 5%;
    cursor: pointer;
}

.fiv {
    padding: 2.5%;
    border: 3px solid green;
}

.fiv:hover {
    background-color: green;
}

.fou {
    padding: 2%;
    border: 3px solid green;
}

.fou:hover {
    background-color: green;
}

.thr {
    padding: 1.5%;
    border: 3px solid gray;
}

.thr:hover {
    background-color: gray;
}

.two {
    padding: 2%;
    border: 3px solid purple;
}

.two:hover {
    background-color: purple;
}

.one {
    padding: 2.5%;
    border: 3px solid purple;
}

.one:hover {
    background-color: purple;
}

.result-text {
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.result-photo {
    margin-top: 5%;
    text-align: center;
}

.explana {
    display: flex;
    justify-content: space-evenly;
    color: black;
}

.result_like {
    text-align: center;
    font-size: 30px;
}

.result_dislike {
    text-align: center;
    font-size: 30px;
}

.info {
    margin-top: 5%;
    font-size: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid white;
    background-color: white;
    box-shadow: 0px 3px 3px gray;
    color: #5594C5;
    padding: 10%;
    font-weight: bold;
    cursor: pointer;
}

.info:hover {
    background-color: #5594C5;
    border: 1px solid #5594C5;
    color: white;
}

.try {
    margin-top: 5%;
    font-size: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid white;
    background-color: white;
    box-shadow: 0px 3px 3px gray;
    color: #5594C5;
    padding: 8%;
    font-weight: bold;
    cursor: pointer;
}

.try:hover {
    background-color: #5594C5;
    border: 1px solid #5594C5;
    color: white;
}

.agree {
    font-weight: bold;
    color: green;
}

.disagree {
    font-weight: bold;
    color: purple;
}

.left {
    margin-top: 10%;
    font-size:30px;
    text-align: center;
    color: black;
}

.name {
    font-weight: bold;
    color: #0072c9;
}