@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home{
    margin:2%;
    
   
}
.little__container{
    display: flex;
}
.recommend__hobby{
    width:20%;
    border-radius: 5px;
    margin-left: 5%;
    box-shadow: 0px 3px 3px gray;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 50px;

}
.findhobbybutton{

    height:10%;
    margin: 35px;
    color: #5594C5;
    background-color: white;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px gray;
    align-items: center;
}
.findhobbybutton:hover{
    background-color: #5594C5;
    border: 1px solid #5594C5;
    color: white;
    cursor :pointer;
}
.hobbyname{
    margin-left: 5%;
}
.seereview{
    align-items: center;
    font-size: 18px;
    border-color: lightyellow;
    margin-bottom: 10px;
    margin-left:5%;
    background-color: lightyellow;
    width: 90%;
    height:30px;
    border-radius: 5px;
}
.seereview:hover{
    cursor: pointer;
}
.seereview2{
    align-items: center;
    font-size: 18px;
    border-color: lightyellow;
    
    background-color: lightgray;
    width: 100%;
    height:30px;
    border-radius: 5px;
}
.infoname{
    margin-left: 10%;
}
.hobbybutton{
    background-color: lightyellow;
}

.hobbyinfo{
    padding-top: 5%;
    margin-top: 30px;
    border-radius: 5px;
    border:solid 1px black;
    align-content: space-around;
    background-color: lightgray;
}

.shownList{
    margin:35px;

    
}
.daycheck{
    padding-left : 10px;
    padding-right: 10px;
    display: table;
    margin: auto;
    width:40px;
    height: 20px;
    cursor: pointer;
    
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.container{
    height: 10%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.요일선택{
    padding-left : 10px;
    padding-right: 10px;
    text-align: center;
    width:200px;
    padding-bottom: 5px;
   
}

h1,h3{
    margin-bottom: 20px;
}

/* TASKS CONTAINER */
.task__container{
    display: flex;
    border-radius: 5px;
    /* background-color: brown; */
    padding: 20px;
    border: solid 1px gray;
    
}
.timetext{
    margin: 9px;
    
    
}
.memoinput{
    margin-top: 10px;
    width:100%;
    height: 100px;
}
.startmes{
    margin-left: 25px;
    
    display: flex;
}
a{
    text-decoration-line: none;
}
.selectbox_start{
    margin: auto;
    margin-left: 10px;
    width: 110px;
    text-align-last: center;    
}
.selectbox_end{
    margin: auto;
    margin-left: 10px;
    width: 110px;
    text-align-last: center;
}
.main33 {
    font-weight: bold;
    font-size: 60px;
    color: navy;
    margin: 3%;
}
.task__container .task__name{
    padding: 10px;
    margin: 0 10px;
    width : 10%;
    height: 5%;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.task__name3{
    padding: 10px;
    margin: 0 10px;
    width : 12%;
    height: 5%;
    border-radius: 5px;
    cursor: pointer;
}


.task__name.selected{
    box-shadow:0px 0px 0px 2px black inset;
}

#deselect{
    background-color: #1d3557;
    color: white;
}


/* SCHEDULE DESIGN */
.schedule__container{
    border-radius: 5px; 
    border:solid 1px gray;
    background-color: #EAEFF4;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 50px;
}

.days__container{
    display: flex;
}

.corner{
    width: 105px;
    height: 70px;
    margin: 2px;
    margin-right: 8px;
}

.day{
    width: 100px;
    border: solid 1px white;
    color: white;
    background-color: #5594C5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    font-size: 25px;
    height: 60px;
}

.part__day{
    display: flex;
}

.time{
    width: 105px;
    height: 50px;
    color: white;
    background-color: #5594C5;
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    margin-right: 8px;
}

.task{
    background-color: white;
    height: 50px;
    width: 100px;
    margin: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}


/* Reset Button */
.deleteBtn{
    margin-left : 10px;
    padding-left: 8px;
    padding-right: 8px;
    width: 40%;
    border: none;
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
    cursor: pointer;
    
    outline: none;
}

.deleteBtn:hover{
    background-color: #eee;
}

/* Pop up */
.pop-up__container{
    position: absolute;
    
    top: 0;
    left: 0;
    z-index: 99;
    height: 300%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    
}

.pop-up{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    
    margin-top: 30%;
    align-items: center;
    background-color: #E2F1F3;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    font-size: 22px;
    border:solid 3px black;
}

.btn__container{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    
}

.btn__answer{
    margin: 0 20px;
    background-color: white;
    border-color: #6672FA;
    border-style: solid;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}